html{
    height: 100%;
}
body
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #4568DC;
    background: linear-gradient(to right, #3d3d40, #000000);
    font-family: 'Roboto', sans-serif;
}
h1{
 color: aliceblue;
 font-size: 10px;
 
}

h3{

text-align: center;

}

.itemy{
      margin: 20px;
}
@media screen and (min-width: 400px){
.footer{
    background-color: rgb(69, 69, 69);
    height: 75px;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 50px;

}
}

table{
    height: 1000px;
}